<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>about us</title>
</head>
<body>
    <%- include('./partial/header.ejs') %> 
    <div class="container">
        <h1 class="text-center text-capitalize my-5">this is the team behind this project</h1>
        <div class="cards">
            <div class="row text-center text-capitalize">
                <div class="col-lg-4 mb-5">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="">group leader</h1>
                        </div>
                        <div class="card-top-img">
                            <img src="/img/saif.jpg" class="w-100"  alt="saif">
                        </div>
                        <div class="card-body">
                            <h1>saifullah muhammad</h1>
                            <p>NID/SET/18/004</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="">group member</h1>
                        </div>
                        <div class="card-top-img">
                            <img src="/img/iman.jpg" class="w-100"  alt="iman">
                        </div>
                        <div class="card-body">
                            <h1>iman ahmad abdullah</h1>
                            <p>NID/SET/18/007</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="">group member</h1>
                        </div>
                        <div class="card-top-img">
                            <img src="/img/abubakar.jpg" class="w-100"  alt="sadik">
                        </div>
                        <div class="card-body">
                            <h1>sadik nuraddeen</h1>
                            <p>NID/SET/18/048</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="">group member</h1>
                        </div>
                        <div class="card-top-img">
                            <img src="/img/faruk.jpg" class="w-100"  alt="faruk">
                        </div>
                        <div class="card-body">
                            <h1>faruk isah</h1>
                            <p>NID/SET/18/0167</p>
                        </div>
                    </div> 
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="">group member</h1>
                        </div>
                        <div class="card-top-img">
                            <img src="/img/gFresh.jpg" class="w-100"  alt="gfresh">
                        </div>
                        <div class="card-body">
                            <h1>bello mika'il gambo</h1>
                            <p>NID/SET/18/0104</p>
                        </div>
                    </div> 
                </div>


            </div>
        </div>
    </div>
</body>
</html>